@media screen and (min-width: 576px) {
    #carouselExample {
        width: 100%;
    }

.carousel-control-prev,
.carousel-control-next {
    width: 4rem;
    height: 100%;
    top: 35%;
    transform: translateY(-50%);
    background: none;
    border: none;
    opacity: 0.8;
    z-index: 20;
}

.carousel-control-prev::before,
.carousel-control-next::before {
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    border: solid white;
    border-width: 0 5px 5px 0;
    padding: 8px;
    transform: rotate(45deg);
    background: transparent;
    filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.6));
}
.carousel-control-prev::before {
    transform: rotate(135deg);
    margin-left: 50px;
}

.carousel-control-next::before {
    transform: rotate(-45deg);
    margin-right: 50px;
}


    .carousel-inner {
        display: flex;
        padding: 3rem;
        transition: transform 10s ease-out;
        /* CAMBIO PARA ANIMACION*/
        overflow-x: visible !important;
    }

    .carousel-item {
        display: block;
        margin-right: 0;
        flex: 0 0 calc(100%/5);
        /* transition: none !important; */
        transition: flex .2s ease-out, transform .2s ease-out;
        /* CAMBIO PARA ANIMACION*/
        position: relative;
    }

    .carousel-item:not(.active) .card-body {
        overflow: hidden;
        background-color: rgb(63, 63, 63);
        color: white;
    }

    .carousel-item:not(.active) .card-body p {
        display: none;
        /* CAMBIO PARA ANIMACION*/
        transition: opacity 1s ease-out, transform 1s ease-out;
        /* CAMBIO PARA ANIMACION*/

    }

    .carousel-item:not(.active) .card-body .h3 {
        display: none;
    }

    .carousel-item:not(.active) .card-body h3 {
        font-size: 20px;
    }


    .carousel-item.active {
        flex: 0 0 calc(115%/4);
        display: block;
        margin-right: 0;
        transform: translateX(0);
        /* transition: none !important;   */
        transition: flex .1s ease-in, transform .5s ease;
        /* CAMBIO PARA ANIMACION*/
    }

    .carousel-item.active .card-body {
        overflow: visible;
        height: auto;
        background-color: rgb(35, 35, 35);
        color: white;
    }

    .carousel-item.active .card-body p {
        display: block;
        transform: translateY(0);
        transition: opacity .5s ease .2s, transform .2s ease .2s;
    }

    .carousel-item.active .card-body .h3 {
        display: block;
        transform: translateY(0);
        /* CAMBIO PARA ANIMACION*/
        transition: opacity .5s ease .2s, transform .2s ease .2s;
        /* CAMBIO PARA ANIMACION*/
    }

}

.carousel-item.active .img-wrapper {
    position: relative;
    z-index: 10;
    overflow: visible;
    width: 22rem;
    height: 18rem; /* o lo que necesites */
    transform: scale(1.1) translateY(-8%);
    transition: transform 0.4s ease;
}

.carousel-item.active .img-wrapper img {
    height: auto;
    width: auto;
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}
.numero-fondo {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 8.5rem;
    font-weight: bold;
    color: rgb(97, 97, 97);
    z-index: 1;
    pointer-events: none;
    user-select: none;
}

.img-wrapper img {
    position: relative;
    z-index: 2;
}

.carousel-item:not(.active) .img-wrapper img {
    opacity: 0.3;
    transition: opacity 0.3s ease;
}
.carousel-item:not(.active) .numero-fondo {
    color: rgb(58, 57, 57);
    font-size: 5.5rem;
}
.carousel-item.active .numero-fondo {
    color: rgb(97, 97, 97);
}
.carousel-inner::-webkit-scrollbar {
    display: none;
}

.destacados-label {
    position: absolute;
    top: -3px;
    left: 220px;
    background-color: #212121;
    color: white;
    border-radius: 8px 8px 0px 0px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.4);
    z-index: 50;
    font-size: 20px;
}
@media (max-width: 991.98px) {
    .destacados-label {
        width: 80%;
        left: 60px;
    }
    .carousel-item:not(.active) .numero-fondo {
    color: rgb(58, 57, 57);
    font-size: 3rem;
}
}
