/* Banner superior */
.top-banner {
  background-color: #ffffff;
  text-align: center;
  padding: 10px;
  font-weight: bold;
}

/* Imagen dentro del banner */
.top-banner img {
  transition: all 0.1s ease;  /* Suaviza el efecto */
  display: inline-block;
}


/* Efecto al pasar el mouse */
.top-banner img:hover {
  filter: brightness(1.4);     /* Aclara la imagen */
  border: 1px solid #ffffffe5; /* Borde blanco semi-transparente */}


/* stilo de la pagina 3, del contenido*/
.hero {
  position: relative;
  width: 100%;
  height: 400px; /* o el tamaño deseado */
  overflow: hidden;
}

.hero .imag {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* si quieres el texto encima de la imagen */
.hero .bloque-texto {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(0,0,0,0.5);
}






.bloques {
  background-color: #ffffff;
  padding: 40px 50px;
}


.contenedor {
  width: 70%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columnas fijas */
  grid-auto-rows: 200px; /* altura de cada fila */
  gap: 20px;
}


.card {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
  display: flex;
  flex-direction: column;
}

.card.mini {
  display: flex !important;
  flex-direction: row !important;
  height: 180px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


.card:hover {
  transform: scale(1.03);
}


.card-img {
  height: 60%;
  background-size: cover;
  background-position: center;
}


.card-texto {
  height: 40%;
  padding: 10px;
  background-color: rgba(255, 180, 71, 0.9); /* fondo solo en el texto */
  text-align: justify;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* pega el texto abajo */
}




.card-texto h3 {
  margin: 0;
  font-size: 16px;
  color: #000;
}


.card-texto p {
  color: #ffffff;
  font-size: 12px;
  margin-top: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* comienzo de stylo de la parte de las primerasa imagenes y cuadros */
.titulo { 
  width: 73%;             /* igual al .contenedor */
  max-width: 1200px;      /* igual también */
  margin: 0 auto 40px;    /* centra con auto y separa abajo */
  padding: 20px 0;
  color: #dbd3d3;
  text-align: justify;
  font-size:20px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;


  font-family: "Flexo-Regular", arial, sans-serif;
}
.imag {
  width: 100%;
  height: auto;
  display: block;
}


.bloque-texto {
  padding: 10px;
  color: white;
  font-size: 1.2rem;
  line-height: 1.3;
  font-family: flexo-medium, Arial, Helvetica, sans-serif;
}


.bg-naranja { background-color: brown; }


/* Borde redondeado para todas las cajas */
.caja {
  border-radius: 5px;
  overflow: hidden;
}


.espacio-inferior {
  margin-bottom: 20px;
}


